<footer>
  <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
       class.xs="footer-xs">
    <div fxFlex="33">
      <span i18n="@@angularExampleApp">SFA-ITS App 2020</span>
    </div>
    <div fxFlex="33" class="text--center">
      <lib-ngx-example-library></lib-ngx-example-library>
    </div>
    <div fxFlex class="text--right" class.xs="footer-xs">
      <a href="https://experience.sap.com/fiori-design-web/" rel="noreferrer" target="_blank">
        <img alt="sap logo" src="/assets/images/sap.svg">
      </a>
    </div>
  </div>
</footer>
